<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>FrxMonExp-Forex Money Experience</title>


    <!-- font icons from the fontawesome server, dont make changes into url -->
    <script src="https://kit.fontawesome.com/1a67c30b10.js" crossorigin="anonymous"></script>

    <!-- import Bulma CSS framework-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">

    <!-- GTranslate: https://gtranslate.io/  usage from external source-->

    <script type="text/javascript">
        function googleTranslateElementInit2() {
            new google.translate.TranslateElement({
                pageLanguage: 'en',
                autoDisplay: false
            }, 'google_translate_element2');
        }
    </script>
    <script type="text/javascript"
            src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit2"></script>


    <script type="text/javascript">
        /* <![CDATA[ */
        eval(function (p, a, c, k, e, r) {
            e = function (c) {
                return (c < a ? '' : e(parseInt(c / a))) + ((c = c % a) > 35 ? String.fromCharCode(c + 29) : c.toString(36))
            };
            if (!''.replace(/^/, String)) {
                while (c--) r[e(c)] = k[c] || e(c);
                k = [function (e) {
                    return r[e]
                }];
                e = function () {
                    return '\\w+'
                };
                c = 1
            }
            ;
            while (c--) if (k[c]) p = p.replace(new RegExp('\\b' + e(c) + '\\b', 'g'), k[c]);
            return p
        }('6 7(a,b){n{4(2.9){3 c=2.9("o");c.p(b,f,f);a.q(c)}g{3 c=2.r();a.s(\'t\'+b,c)}}u(e){}}6 h(a){4(a.8)a=a.8;4(a==\'\')v;3 b=a.w(\'|\')[1];3 c;3 d=2.x(\'y\');z(3 i=0;i<d.5;i++)4(d[i].A==\'B-C-D\')c=d[i];4(2.j(\'k\')==E||2.j(\'k\').l.5==0||c.5==0||c.l.5==0){F(6(){h(a)},G)}g{c.8=b;7(c,\'m\');7(c,\'m\')}}', 43, 43, '||document|var|if|length|function|GTranslateFireEvent|value|createEvent||||||true|else|doGTranslate||getElementById|google_translate_element2|innerHTML|change|try|HTMLEvents|initEvent|dispatchEvent|createEventObject|fireEvent|on|catch|return|split|getElementsByTagName|select|for|className|goog|te|combo|null|setTimeout|500'.split('|'), 0, {}))
        /* ]]> */
    </script>


</head>
<body>

<section style="margin-top: 5px;" class="hero is-warning is-bold">
    <!-- header -->
    <div class="hero-head ">
        <header class="navbar ">
            <div class="container">

                <a class="navbar-item is-family-sans-serif has-text-black  has-text-weight-bold is-italic is-size-5">
                    FrxMonExp <br>Forex Money Experience
                </a>
            </div>
            <div id="navbarMenuHeroC" class="navbar-menu">
                <div class="navbar-end">
                    <a href="./about" class="navbar-item is-active">
                        ABOUT
                    </a>

                    <span class="navbar-item">

                <div id="header">


        <a href="#" onclick="doGTranslate('en|en');return false;" title="English" class="gflag nturl"
           style="background-position:-0px -0px;"><img src="//gtranslate.net/flags/blank.png" height="16" width="16"
                                                       alt="English"/></a><a href="#"
                                                                             onclick="doGTranslate('en|fr');return false;"
                                                                             title="French" class="gflag nturl"
                                                                             style="background-position:-200px -100px;"><img
                        src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="French"/></a><a href="#"
                                                                                                           onclick="doGTranslate('en|de');return false;"
                                                                                                           title="German"
                                                                                                           class="gflag nturl"
                                                                                                           style="background-position:-300px -100px;"><img
                        src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="German"/></a><a href="#"
                                                                                                           onclick="doGTranslate('en|pt');return false;"
                                                                                                           title="Portuguese"
                                                                                                           class="gflag nturl"
                                                                                                           style="background-position:-300px -200px;"><img
                        src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="Portuguese"/></a><a href="#"
                                                                                                               onclick="doGTranslate('en|ru');return false;"
                                                                                                               title="Russian"
                                                                                                               class="gflag nturl"
                                                                                                               style="background-position:-500px -200px;"><img
                        src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="Russian"/></a><a href="#"
                                                                                                            onclick="doGTranslate('en|es');return false;"
                                                                                                            title="Spanish"
                                                                                                            class="gflag nturl"
                                                                                                            style="background-position:-600px -200px;"><img
                        src="//gtranslate.net/flags/blank.png" height="16" width="16" alt="Spanish"/></a>

        <style type="text/css">
            <!--
            a.gflag {
                vertical-align: middle;
                font-size: 16px;
                padding: 1px 0;
                background-repeat: no-repeat;
                background-image: url(//gtranslate.net/flags/16.png);
            }

            a.gflag img {
                border: 0;
            }

            a.gflag:hover {
                background-image: url(//gtranslate.net/flags/16a.png);
            }

            #goog-gt-tt {
                display: none !important;
            }

            .goog-te-banner-frame {
                display: none !important;
            }

            .goog-te-menu-value:hover {
                text-decoration: none !important;
            }

            body {
                top: 0 !important;
            }

            #google_translate_element2 {
                display: none !important;
            }

            -->
        </style>

        <br/><select onchange="doGTranslate(this);">
        <option value="">Select Language</option>
        <option value="en|af">Afrikaans</option>
        <option value="en|sq">Albanian</option>
        <option value="en|ar">Arabic</option>
        <option value="en|hy">Armenian</option>
        <option value="en|az">Azerbaijani</option>
        <option value="en|eu">Basque</option>
        <option value="en|be">Belarusian</option>
        <option value="en|bg">Bulgarian</option>
        <option value="en|ca">Catalan</option>
        <option value="en|zh-CN">Chinese (Simplified)</option>
        <option value="en|zh-TW">Chinese (Traditional)</option>
        <option value="en|hr">Croatian</option>
        <option value="en|cs">Czech</option>
        <option value="en|da">Danish</option>
        <option value="en|nl">Dutch</option>
        <option value="en|en">English</option>
        <option value="en|et">Estonian</option>
        <option value="en|tl">Filipino</option>
        <option value="en|fi">Finnish</option>
        <option value="en|fr">French</option>
        <option value="en|gl">Galician</option>
        <option value="en|ka">Georgian</option>
        <option value="en|de">German</option>
        <option value="en|el">Greek</option>
        <option value="en|ht">Haitian Creole</option>
        <option value="en|iw">Hebrew</option>
        <option value="en|hi">Hindi</option>
        <option value="en|hu">Hungarian</option>
        <option value="en|is">Icelandic</option>
        <option value="en|id">Indonesian</option>
        <option value="en|ga">Irish</option>
        <option value="en|it">Italian</option>
        <option value="en|ja">Japanese</option>
        <option value="en|ko">Korean</option>
        <option value="en|lv">Latvian</option>
        <option value="en|lt">Lithuanian</option>
        <option value="en|mk">Macedonian</option>
        <option value="en|ms">Malay</option>
        <option value="en|mt">Maltese</option>
        <option value="en|no">Norwegian</option>
        <option value="en|fa">Persian</option>
        <option value="en|pl">Polish</option>
        <option value="en|pt">Portuguese</option>
        <option value="en|ro">Romanian</option>
        <option value="en|ru">Russian</option>
        <option value="en|sr">Serbian</option>
        <option value="en|sk">Slovak</option>
        <option value="en|sl">Slovenian</option>
        <option value="en|es">Spanish</option>
        <option value="en|sw">Swahili</option>
        <option value="en|sv">Swedish</option>
        <option value="en|th">Thai</option>
        <option value="en|tr">Turkish</option>
        <option value="en|uk">Ukrainian</option>
        <option value="en|ur">Urdu</option>
        <option value="en|vi">Vietnamese</option>
        <option value="en|cy">Welsh</option>
        <option value="en|yi">Yiddish</option>
    </select>
        <div id="google_translate_element2"></div>
    </div>

            </span>
                </div>
            </div>

        </header>
    </div>
</section>

<!-- Header ends here-->

<!-- Main Section starts here-->
<section class="hero is-medium">

    <!-- content -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="field has-addons">
                <div class="control">

                    <div class="select is-fullwidth">


                        <select id="currencyListFrom" onchange="callCurrFrom(this)" name="cf" form="currencyform"
                                required>

                            <!--Source for options list: https://gist.github.com/howkymike/7cc3a302f01130be924a5578a409f895 -->

                            <option value="" disabled hidden selected>Select Currency From</option>
                            <option value="EUR" label="Euro">EUR</option>
                            <option value="USD" label="US dollar">USD</option>
                            <option value="INR" label="Indian rupee">INR</option>
                            <option value="JPY" label="Japanese yen">JPY</option>
                            <option value="GBP" label="Pound sterling">GBP</option>
                            <option disabled>──────────</option>
                            <option value="AED" label="United Arab Emirates dirham">AED</option>
                            <option value="AFN" label="Afghan afghani">AFN</option>
                            <option value="ALL" label="Albanian lek">ALL</option>
                            <option value="AMD" label="Armenian dram">AMD</option>
                            <option value="ANG" label="Netherlands Antillean guilder">ANG</option>
                            <option value="AOA" label="Angolan kwanza">AOA</option>
                            <option value="ARS" label="Argentine peso">ARS</option>
                            <option value="AUD" label="Australian dollar">AUD</option>
                            <option value="AWG" label="Aruban florin">AWG</option>
                            <option value="AZN" label="Azerbaijani manat">AZN</option>
                            <option value="BAM" label="Bosnia and Herzegovina convertible mark">BAM</option>
                            <option value="BBD" label="Barbadian dollar">BBD</option>
                            <option value="BDT" label="Bangladeshi taka">BDT</option>
                            <option value="BGN" label="Bulgarian lev">BGN</option>
                            <option value="BHD" label="Bahraini dinar">BHD</option>
                            <option value="BIF" label="Burundian franc">BIF</option>
                            <option value="BMD" label="Bermudian dollar">BMD</option>
                            <option value="BND" label="Brunei dollar">BND</option>
                            <option value="BOB" label="Bolivian boliviano">BOB</option>
                            <option value="BRL" label="Brazilian real">BRL</option>
                            <option value="BSD" label="Bahamian dollar">BSD</option>
                            <option value="BTN" label="Bhutanese ngultrum">BTN</option>
                            <option value="BWP" label="Botswana pula">BWP</option>
                            <option value="BYN" label="Belarusian ruble">BYN</option>
                            <option value="BZD" label="Belize dollar">BZD</option>
                            <option value="CAD" label="Canadian dollar">CAD</option>
                            <option value="CDF" label="Congolese franc">CDF</option>
                            <option value="CHF" label="Swiss franc">CHF</option>
                            <option value="CLP" label="Chilean peso">CLP</option>
                            <option value="CNY" label="Chinese yuan">CNY</option>
                            <option value="COP" label="Colombian peso">COP</option>
                            <option value="CRC" label="Costa Rican colón">CRC</option>
                            <option value="CUC" label="Cuban convertible peso">CUC</option>
                            <option value="CUP" label="Cuban peso">CUP</option>
                            <option value="CVE" label="Cape Verdean escudo">CVE</option>
                            <option value="CZK" label="Czech koruna">CZK</option>
                            <option value="DJF" label="Djiboutian franc">DJF</option>
                            <option value="DKK" label="Danish krone">DKK</option>
                            <option value="DOP" label="Dominican peso">DOP</option>
                            <option value="DZD" label="Algerian dinar">DZD</option>
                            <option value="EGP" label="Egyptian pound">EGP</option>
                            <option value="ERN" label="Eritrean nakfa">ERN</option>
                            <option value="ETB" label="Ethiopian birr">ETB</option>
                            <option value="EUR" label="EURO">EUR</option>
                            <option value="FJD" label="Fijian dollar">FJD</option>
                            <option value="FKP" label="Falkland Islands pound">FKP</option>
                            <option value="GBP" label="British pound">GBP</option>
                            <option value="GEL" label="Georgian lari">GEL</option>
                            <option value="GGP" label="Guernsey pound">GGP</option>
                            <option value="GHS" label="Ghanaian cedi">GHS</option>
                            <option value="GIP" label="Gibraltar pound">GIP</option>
                            <option value="GMD" label="Gambian dalasi">GMD</option>
                            <option value="GNF" label="Guinean franc">GNF</option>
                            <option value="GTQ" label="Guatemalan quetzal">GTQ</option>
                            <option value="GYD" label="Guyanese dollar">GYD</option>
                            <option value="HKD" label="Hong Kong dollar">HKD</option>
                            <option value="HNL" label="Honduran lempira">HNL</option>
                            <option value="HKD" label="Hong Kong dollar">HKD</option>
                            <option value="HRK" label="Croatian kuna">HRK</option>
                            <option value="HTG" label="Haitian gourde">HTG</option>
                            <option value="HUF" label="Hungarian forint">HUF</option>
                            <option value="IDR" label="Indonesian rupiah">IDR</option>
                            <option value="ILS" label="Israeli new shekel">ILS</option>
                            <option value="IMP" label="Manx pound">IMP</option>
                            <option value="INR" label="Indian rupee">INR</option>
                            <option value="IQD" label="Iraqi dinar">IQD</option>
                            <option value="IRR" label="Iranian rial">IRR</option>
                            <option value="ISK" label="Icelandic króna">ISK</option>
                            <option value="JEP" label="Jersey pound">JEP</option>
                            <option value="JMD" label="Jamaican dollar">JMD</option>
                            <option value="JOD" label="Jordanian dinar">JOD</option>
                            <option value="JPY" label="Japanese yen">JPY</option>
                            <option value="KES" label="Kenyan shilling">KES</option>
                            <option value="KGS" label="Kyrgyzstani som">KGS</option>
                            <option value="KHR" label="Cambodian riel">KHR</option>
                            <option value="KID" label="Kiribati dollar">KID</option>
                            <option value="KMF" label="Comorian franc">KMF</option>
                            <option value="KPW" label="North Korean won">KPW</option>
                            <option value="KRW" label="South Korean won">KRW</option>
                            <option value="KWD" label="Kuwaiti dinar">KWD</option>
                            <option value="KYD" label="Cayman Islands dollar">KYD</option>
                            <option value="KZT" label="Kazakhstani tenge">KZT</option>
                            <option value="LAK" label="Lao kip">LAK</option>
                            <option value="LBP" label="Lebanese pound">LBP</option>
                            <option value="LKR" label="Sri Lankan rupee">LKR</option>
                            <option value="LRD" label="Liberian dollar">LRD</option>
                            <option value="LSL" label="Lesotho loti">LSL</option>
                            <option value="LYD" label="Libyan dinar">LYD</option>
                            <option value="MAD" label="Moroccan dirham">MAD</option>
                            <option value="MDL" label="Moldovan leu">MDL</option>
                            <option value="MGA" label="Malagasy ariary">MGA</option>
                            <option value="MKD" label="Macedonian denar">MKD</option>
                            <option value="MMK" label="Burmese kyat">MMK</option>
                            <option value="MNT" label="Mongolian tögrög">MNT</option>
                            <option value="MOP" label="Macanese pataca">MOP</option>
                            <option value="MRU" label="Mauritanian ouguiya">MRU</option>
                            <option value="MUR" label="Mauritian rupee">MUR</option>
                            <option value="MVR" label="Maldivian rufiyaa">MVR</option>
                            <option value="MWK" label="Malawian kwacha">MWK</option>
                            <option value="MXN" label="Mexican peso">MXN</option>
                            <option value="MYR" label="Malaysian ringgit">MYR</option>
                            <option value="MZN" label="Mozambican metical">MZN</option>
                            <option value="NAD" label="Namibian dollar">NAD</option>
                            <option value="NGN" label="Nigerian naira">NGN</option>
                            <option value="NIO" label="Nicaraguan córdoba">NIO</option>
                            <option value="NOK" label="Norwegian krone">NOK</option>
                            <option value="NPR" label="Nepalese rupee">NPR</option>
                            <option value="NZD" label="New Zealand dollar">NZD</option>
                            <option value="OMR" label="Omani rial">OMR</option>
                            <option value="PAB" label="Panamanian balboa">PAB</option>
                            <option value="PEN" label="Peruvian sol">PEN</option>
                            <option value="PGK" label="Papua New Guinean kina">PGK</option>
                            <option value="PHP" label="Philippine peso">PHP</option>
                            <option value="PKR" label="Pakistani rupee">PKR</option>
                            <option value="PLN" label="Polish złoty">PLN</option>
                            <option value="PRB" label="Transnistrian ruble">PRB</option>
                            <option value="PYG" label="Paraguayan guaraní">PYG</option>
                            <option value="QAR" label="Qatari riyal">QAR</option>
                            <option value="RON" label="Romanian leu">RON</option>
                            <option value="RON" label="Romanian leu">RON</option>
                            <option value="RSD" label="Serbian dinar">RSD</option>
                            <option value="RUB" label="Russian ruble">RUB</option>
                            <option value="RWF" label="Rwandan franc">RWF</option>
                            <option value="SAR" label="Saudi riyal">SAR</option>
                            <option value="SEK" label="Swedish krona">SEK</option>
                            <option value="SGD" label="Singapore dollar">SGD</option>
                            <option value="SHP" label="Saint Helena pound">SHP</option>
                            <option value="SLL" label="Sierra Leonean leone">SLL</option>
                            <option value="SLS" label="Somaliland shilling">SLS</option>
                            <option value="SOS" label="Somali shilling">SOS</option>
                            <option value="SRD" label="Surinamese dollar">SRD</option>
                            <option value="SSP" label="South Sudanese pound">SSP</option>
                            <option value="STN" label="São Tomé and Príncipe dobra">STN</option>
                            <option value="SYP" label="Syrian pound">SYP</option>
                            <option value="SZL" label="Swazi lilangeni">SZL</option>
                            <option value="THB" label="Thai baht">THB</option>
                            <option value="TJS" label="Tajikistani somoni">TJS</option>
                            <option value="TMT" label="Turkmenistan manat">TMT</option>
                            <option value="TND" label="Tunisian dinar">TND</option>
                            <option value="TOP" label="Tongan paʻanga">TOP</option>
                            <option value="TRY" label="Turkish lira">TRY</option>
                            <option value="TTD" label="Trinidad and Tobago dollar">TTD</option>
                            <option value="TVD" label="Tuvaluan dollar">TVD</option>
                            <option value="TWD" label="New Taiwan dollar">TWD</option>
                            <option value="TZS" label="Tanzanian shilling">TZS</option>
                            <option value="UAH" label="Ukrainian hryvnia">UAH</option>
                            <option value="UGX" label="Ugandan shilling">UGX</option>
                            <option value="USD" label="United States dollar">USD</option>
                            <option value="UYU" label="Uruguayan peso">UYU</option>
                            <option value="UZS" label="Uzbekistani soʻm">UZS</option>
                            <option value="VES" label="Venezuelan bolívar soberano">VES</option>
                            <option value="VND" label="Vietnamese đồng">VND</option>
                            <option value="VUV" label="Vanuatu vatu">VUV</option>
                            <option value="WST" label="Samoan tālā">WST</option>
                            <option value="XAF" label="Central African CFA franc">XAF</option>
                            <option value="XCD" label="Eastern Caribbean dollar">XCD</option>
                            <option value="XOF" label="West African CFA franc">XOF</option>
                            <option value="XPF" label="CFP franc">XPF</option>
                            <option value="ZAR" label="South African rand">ZAR</option>
                            <option value="ZMW" label="Zambian kwacha">ZMW</option>
                            <option value="ZWB" label="Zimbabwean bonds">ZWB</option>
                        </select>
                    </div>
                </div>

                <div class="control">

                    <!-- Toggle text to swap currencies -->
                    &nbsp;<button class="button is-white" onclick="toggle()">
                    <span class="icon is-small is-left"><i class="fas fa-exchange-alt"></i></span></button>&nbsp;
                </div>

                <div class="control">

                    <div class="select is-fullwidth">
                        <!-- Source : https://gist.github.com/howkymike/7cc3a302f01130be924a5578a409f895 -->

                        <select id="currencyListTo" onchange="callCurrTo(this)" name="ct" form="currencyform"
                                required>

                            <option value="" disabled hidden selected>Select Currency To</option>
                            <option value="USD" label="US dollar">USD</option>
                            <option value="EUR" label="Euro">EUR</option>
                            <option value="JPY" label="Japanese yen">JPY</option>
                            <option value="INR" label="Indian rupee">INR</option>
                            <option value="GBP" label="Pound sterling">GBP</option>
                            <option disabled>──────────</option>
                            <option value="AED" label="United Arab Emirates dirham">AED</option>
                            <option value="AFN" label="Afghan afghani">AFN</option>
                            <option value="ALL" label="Albanian lek">ALL</option>
                            <option value="AMD" label="Armenian dram">AMD</option>
                            <option value="ANG" label="Netherlands Antillean guilder">ANG</option>
                            <option value="AOA" label="Angolan kwanza">AOA</option>
                            <option value="ARS" label="Argentine peso">ARS</option>
                            <option value="AUD" label="Australian dollar">AUD</option>
                            <option value="AWG" label="Aruban florin">AWG</option>
                            <option value="AZN" label="Azerbaijani manat">AZN</option>
                            <option value="BAM" label="Bosnia and Herzegovina convertible mark">BAM</option>
                            <option value="BBD" label="Barbadian dollar">BBD</option>
                            <option value="BDT" label="Bangladeshi taka">BDT</option>
                            <option value="BGN" label="Bulgarian lev">BGN</option>
                            <option value="BHD" label="Bahraini dinar">BHD</option>
                            <option value="BIF" label="Burundian franc">BIF</option>
                            <option value="BMD" label="Bermudian dollar">BMD</option>
                            <option value="BND" label="Brunei dollar">BND</option>
                            <option value="BOB" label="Bolivian boliviano">BOB</option>
                            <option value="BRL" label="Brazilian real">BRL</option>
                            <option value="BSD" label="Bahamian dollar">BSD</option>
                            <option value="BTN" label="Bhutanese ngultrum">BTN</option>
                            <option value="BWP" label="Botswana pula">BWP</option>
                            <option value="BYN" label="Belarusian ruble">BYN</option>
                            <option value="BZD" label="Belize dollar">BZD</option>
                            <option value="CAD" label="Canadian dollar">CAD</option>
                            <option value="CDF" label="Congolese franc">CDF</option>
                            <option value="CHF" label="Swiss franc">CHF</option>
                            <option value="CLP" label="Chilean peso">CLP</option>
                            <option value="CNY" label="Chinese yuan">CNY</option>
                            <option value="COP" label="Colombian peso">COP</option>
                            <option value="CRC" label="Costa Rican colón">CRC</option>
                            <option value="CUC" label="Cuban convertible peso">CUC</option>
                            <option value="CUP" label="Cuban peso">CUP</option>
                            <option value="CVE" label="Cape Verdean escudo">CVE</option>
                            <option value="CZK" label="Czech koruna">CZK</option>
                            <option value="DJF" label="Djiboutian franc">DJF</option>
                            <option value="DKK" label="Danish krone">DKK</option>
                            <option value="DOP" label="Dominican peso">DOP</option>
                            <option value="DZD" label="Algerian dinar">DZD</option>
                            <option value="EGP" label="Egyptian pound">EGP</option>
                            <option value="ERN" label="Eritrean nakfa">ERN</option>
                            <option value="ETB" label="Ethiopian birr">ETB</option>
                            <option value="EUR" label="EURO">EUR</option>
                            <option value="FJD" label="Fijian dollar">FJD</option>
                            <option value="FKP" label="Falkland Islands pound">FKP</option>
                            <option value="GBP" label="British pound">GBP</option>
                            <option value="GEL" label="Georgian lari">GEL</option>
                            <option value="GGP" label="Guernsey pound">GGP</option>
                            <option value="GHS" label="Ghanaian cedi">GHS</option>
                            <option value="GIP" label="Gibraltar pound">GIP</option>
                            <option value="GMD" label="Gambian dalasi">GMD</option>
                            <option value="GNF" label="Guinean franc">GNF</option>
                            <option value="GTQ" label="Guatemalan quetzal">GTQ</option>
                            <option value="GYD" label="Guyanese dollar">GYD</option>
                            <option value="HKD" label="Hong Kong dollar">HKD</option>
                            <option value="HNL" label="Honduran lempira">HNL</option>
                            <option value="HKD" label="Hong Kong dollar">HKD</option>
                            <option value="HRK" label="Croatian kuna">HRK</option>
                            <option value="HTG" label="Haitian gourde">HTG</option>
                            <option value="HUF" label="Hungarian forint">HUF</option>
                            <option value="IDR" label="Indonesian rupiah">IDR</option>
                            <option value="ILS" label="Israeli new shekel">ILS</option>
                            <option value="IMP" label="Manx pound">IMP</option>
                            <option value="INR" label="Indian rupee">INR</option>
                            <option value="IQD" label="Iraqi dinar">IQD</option>
                            <option value="IRR" label="Iranian rial">IRR</option>
                            <option value="ISK" label="Icelandic króna">ISK</option>
                            <option value="JEP" label="Jersey pound">JEP</option>
                            <option value="JMD" label="Jamaican dollar">JMD</option>
                            <option value="JOD" label="Jordanian dinar">JOD</option>
                            <option value="JPY" label="Japanese yen">JPY</option>
                            <option value="KES" label="Kenyan shilling">KES</option>
                            <option value="KGS" label="Kyrgyzstani som">KGS</option>
                            <option value="KHR" label="Cambodian riel">KHR</option>
                            <option value="KID" label="Kiribati dollar">KID</option>
                            <option value="KMF" label="Comorian franc">KMF</option>
                            <option value="KPW" label="North Korean won">KPW</option>
                            <option value="KRW" label="South Korean won">KRW</option>
                            <option value="KWD" label="Kuwaiti dinar">KWD</option>
                            <option value="KYD" label="Cayman Islands dollar">KYD</option>
                            <option value="KZT" label="Kazakhstani tenge">KZT</option>
                            <option value="LAK" label="Lao kip">LAK</option>
                            <option value="LBP" label="Lebanese pound">LBP</option>
                            <option value="LKR" label="Sri Lankan rupee">LKR</option>
                            <option value="LRD" label="Liberian dollar">LRD</option>
                            <option value="LSL" label="Lesotho loti">LSL</option>
                            <option value="LYD" label="Libyan dinar">LYD</option>
                            <option value="MAD" label="Moroccan dirham">MAD</option>
                            <option value="MDL" label="Moldovan leu">MDL</option>
                            <option value="MGA" label="Malagasy ariary">MGA</option>
                            <option value="MKD" label="Macedonian denar">MKD</option>
                            <option value="MMK" label="Burmese kyat">MMK</option>
                            <option value="MNT" label="Mongolian tögrög">MNT</option>
                            <option value="MOP" label="Macanese pataca">MOP</option>
                            <option value="MRU" label="Mauritanian ouguiya">MRU</option>
                            <option value="MUR" label="Mauritian rupee">MUR</option>
                            <option value="MVR" label="Maldivian rufiyaa">MVR</option>
                            <option value="MWK" label="Malawian kwacha">MWK</option>
                            <option value="MXN" label="Mexican peso">MXN</option>
                            <option value="MYR" label="Malaysian ringgit">MYR</option>
                            <option value="MZN" label="Mozambican metical">MZN</option>
                            <option value="NAD" label="Namibian dollar">NAD</option>
                            <option value="NGN" label="Nigerian naira">NGN</option>
                            <option value="NIO" label="Nicaraguan córdoba">NIO</option>
                            <option value="NOK" label="Norwegian krone">NOK</option>
                            <option value="NPR" label="Nepalese rupee">NPR</option>
                            <option value="NZD" label="New Zealand dollar">NZD</option>
                            <option value="OMR" label="Omani rial">OMR</option>
                            <option value="PAB" label="Panamanian balboa">PAB</option>
                            <option value="PEN" label="Peruvian sol">PEN</option>
                            <option value="PGK" label="Papua New Guinean kina">PGK</option>
                            <option value="PHP" label="Philippine peso">PHP</option>
                            <option value="PKR" label="Pakistani rupee">PKR</option>
                            <option value="PLN" label="Polish złoty">PLN</option>
                            <option value="PRB" label="Transnistrian ruble">PRB</option>
                            <option value="PYG" label="Paraguayan guaraní">PYG</option>
                            <option value="QAR" label="Qatari riyal">QAR</option>
                            <option value="RON" label="Romanian leu">RON</option>
                            <option value="RON" label="Romanian leu">RON</option>
                            <option value="RSD" label="Serbian dinar">RSD</option>
                            <option value="RUB" label="Russian ruble">RUB</option>
                            <option value="RWF" label="Rwandan franc">RWF</option>
                            <option value="SAR" label="Saudi riyal">SAR</option>
                            <option value="SEK" label="Swedish krona">SEK</option>
                            <option value="SGD" label="Singapore dollar">SGD</option>
                            <option value="SHP" label="Saint Helena pound">SHP</option>
                            <option value="SLL" label="Sierra Leonean leone">SLL</option>
                            <option value="SLS" label="Somaliland shilling">SLS</option>
                            <option value="SOS" label="Somali shilling">SOS</option>
                            <option value="SRD" label="Surinamese dollar">SRD</option>
                            <option value="SSP" label="South Sudanese pound">SSP</option>
                            <option value="STN" label="São Tomé and Príncipe dobra">STN</option>
                            <option value="SYP" label="Syrian pound">SYP</option>
                            <option value="SZL" label="Swazi lilangeni">SZL</option>
                            <option value="THB" label="Thai baht">THB</option>
                            <option value="TJS" label="Tajikistani somoni">TJS</option>
                            <option value="TMT" label="Turkmenistan manat">TMT</option>
                            <option value="TND" label="Tunisian dinar">TND</option>
                            <option value="TOP" label="Tongan paʻanga">TOP</option>
                            <option value="TRY" label="Turkish lira">TRY</option>
                            <option value="TTD" label="Trinidad and Tobago dollar">TTD</option>
                            <option value="TVD" label="Tuvaluan dollar">TVD</option>
                            <option value="TWD" label="New Taiwan dollar">TWD</option>
                            <option value="TZS" label="Tanzanian shilling">TZS</option>
                            <option value="UAH" label="Ukrainian hryvnia">UAH</option>
                            <option value="UGX" label="Ugandan shilling">UGX</option>
                            <option value="USD" label="United States dollar">USD</option>
                            <option value="UYU" label="Uruguayan peso">UYU</option>
                            <option value="UZS" label="Uzbekistani soʻm">UZS</option>
                            <option value="VES" label="Venezuelan bolívar soberano">VES</option>
                            <option value="VND" label="Vietnamese đồng">VND</option>
                            <option value="VUV" label="Vanuatu vatu">VUV</option>
                            <option value="WST" label="Samoan tālā">WST</option>
                            <option value="XAF" label="Central African CFA franc">XAF</option>
                            <option value="XCD" label="Eastern Caribbean dollar">XCD</option>
                            <option value="XOF" label="West African CFA franc">XOF</option>
                            <option value="XPF" label="CFP franc">XPF</option>
                            <option value="ZAR" label="South African rand">ZAR</option>
                            <option value="ZMW" label="Zambian kwacha">ZMW</option>
                            <option value="ZWB" label="Zimbabwean bonds">ZWB</option>
                        </select>
                    </div>
                </div>
            </div>


            <form action="compare" id="currencyform" method="post">

                <div class="control">
                    <input placeholder="Enter Amount To Send" id="amount" oninput="callAmount(this)"
                           type="number"
                           min="0" name="amt"
                           required>
                </div>
                <br>

            </form>
            <div class="control">
                <button class="button is-black" form="currencyform" type="submit" id="inputamount">Compare</button>
                <button class="button is-success" form="currencyform" type="submit" name="my-btn" id="ref"><span> Update
                    <i class="fas fa-sync-alt"></i></span>
                </button>
            </div>
            <br>
            <div class="control" id="yousend"><strong>You Send : {{amount}} {{cur_from}}</strong></div>
            <br>
            <div id="content">
                <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth" style="width:100%">
                    <thead>

                    <!-- fetching the table with results back, 'safe' is ued to fetch HTML tags-->
                    <tr>
                        {{row1 |safe}}
                        {{row2 |safe}}
                        {{row3 |safe}}
                        {{row4 |safe}}
                    </tr>
                    </thead>


                    {% for i,j,k in r_q_s %}
                    <tr>

                        <td><a rel="external" target="_blank" href="https://www.{{k}}.com">{{k}}</a></td>
                        <td> 1 {{cur_from}} = {{i}} {{cur_to}}</td>
                        <td><p>Debit Card : Same day </p>
                            <p>Bank Transfer : 2-3 working days</p></td>
                        <td> {{j}} {{cur_to}}</td>

                    </tr>
                    {% endfor %}

                </table>
                <p style="margin-left: 50px"><strong>{{e_msg}}</strong></p>
            </div>
        </div>
    </div>
</section>
<!-- main section ends here-->

<!-- JavaScript starts Here-->
<script type="text/javascript">

    //sessionStorage stores the data for one session until web browser is open
    function callCurrFrom(obj) {


        //setItem() accept key, keyvalue pair
        sessionStorage.setItem(
            "selectedCur",
            obj.options[obj.selectedIndex].value
        );
        // id value stored
        document.getElementById("currencyListFrom").value =
            obj.options[obj.selectedIndex].value;


    }


    // Retrieve Value
    var defaultFrom = sessionStorage.getItem(
        "selectedCur"
    );
    if (defaultFrom) { // ensure it's not false
        document.getElementById("currencyListFrom").value = defaultFrom
    }

    function callCurrTo(obj) {
        sessionStorage.setItem(
            "selectedCurr",
            obj.options[obj.selectedIndex].value
        );
        document.getElementById("currencyListTo").value =
            obj.options[obj.selectedIndex].value;
    }

    var defaultTo = sessionStorage.getItem(
        "selectedCurr"
    );
    //so when page loads the default blank value saved in session will not be passed into the drop down
    if (defaultTo) {
        document.getElementById("currencyListTo").value = defaultTo
    }

    // oninput() event to fetch the live text value typed in the textbox
    function callAmount(obj) {

        // Set
        sessionStorage.setItem(
            "selectedAmt",
            obj.value
        );

        //Store
        document.getElementById("amount").value =
            obj.value;


    }

    //retrieve
    document.getElementById("amount").value = sessionStorage.getItem(
        "selectedAmt"
    );

    // Swap the currencies
    function toggle() {
        var x = document.getElementById("currencyListFrom");
        var y = document.getElementById("currencyListTo");
        var temp = null;


        if (x.value === y.value) {
            x.value = y.value

            // simple swap between values
        } else {


            temp = x.value;
            x.value = y.value;
             // Store
            sessionStorage.setItem("x", y.value);

            // Retrieve
            x.value = sessionStorage.getItem("x");

            y.value = temp;

            // Store
            sessionStorage.setItem("y", temp);
            // Retrieve
           y.value = sessionStorage.getItem("y");


        }


    }


</script>

<!-- JavaScript ends here-->

<!-- footer section start here-->

<footer class="footer is-warning">
    <div class="content has-text-centered">
        <p>
            <strong>FrxMonExp - Forex Money Experience</strong> source code is licensed
            <a href="#">MIT Licence</a>. <a href="about"><br> About Us</a>.
        </p>
    </div>
</footer>
<!-- footer section ends here-->

</body>
</html>